[run]
branch = true
omit =
    '*/flask/*',
    '*/click/*',
    '*/jinja2/*',
    '*/werkzeug/*',
    '*/itsdangerous.py',
    '*/markupsafe/*',
    'config.py',
    'tests.py'

source = .

[report]
show_missing = true
# skip_covered = true
exclude_lines =
    if __name__ == .__main__.:

[html]
title = "pyGlialo Coverage Report"