<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="pyGlialo, giving away the goodies with a Wheel Of Fortune!">
    <meta name="author" content="PyMI">

    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/manifest.json">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    
    <title>pyGlialo - giving away the goodies</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link href="static/css/custom.css" rel="stylesheet">

    {% block extracss %}{% endblock extracss %}

</head>

<body>
    <div class="container">

        {% include "includes/header.html" %}
        
        <div class="jumbotron">
            {% block content %} {% endblock content %}
        </div>
        
        {% include "includes/footer.html" %}
        
    </div>

    {% block extracontent %}{% endblock extracontent %}

    {% block extrajs %}{% endblock extrajs %}

</body>

</html>