<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pyGlialo - giving away the goodies</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/jumbotron-narrow.css">
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <h2 class="text-muted">pyGlialo</h2>
        <i> giving away the goodies</i>
    </div>

    <div class="jumbotron">
        <p class="lead">Estrazione per Python Milano</p>
        <br>

        <img src="static/img/pyBiscione-v2-round.png">

        <h1>Pelican</h1>

        <h3>Generatore statico di siti Web in Python</h3>
        <br>

        <div class="img-rounded important-info">
            <h2>
                C'è in palio <em>una</em> licenza offerte da Jetbrains.
            </h2>

            <p>
                Enjoy.
            </p>

        </div>


        <a class="btn btn-lg btn-warning" href="random" role="button">Let's Start!</a>

    </div>

    <footer class="footer">
        <p>&copy; <a href="http://pythonmilano.xyz" target="_blank"> python milano</a> - pyGlialo</p>
        {# <p>made with <3 with Flask</p>#}
        <div id="debug">
        </div>
    </footer>

</div> <!-- /container -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>
