{# TODO: bug - not working #}
{% extends "base.html" %}
{% block content %}
    <p class="lead">{{ lead_text }}</p>
    <br>
    <p>
        <a href="http://rollingjennyh.deviantart.com/art/Sad-Banana-352394110">
            <img src="static/img/sad_banana.png">
        </a>
    </p>
    <h1>Sad Banana is Sad</h1>
    <br>
    <p>
        {% include "includes/buttons/shuffle.html" %}
    </p>
    <p>
        {% include "includes/buttons/finalize.html" %}
    </p>
{% endblock content %}
{% block marketing %}
    {% include "includes/marketing.html" %}
{% endblock marketing %}
