{% extends "base.html" %}
{% block content %}
    <p class="lead">{{ lead_text }}</p>
    {% if winner %}
        <div class="col-xs-12 col-md-8 clearfix">
            <a {% if winner.member_id != '000000' %}
                href="http://www.meetup.com/Python-Milano/members/{{ winner.member_id }}" target="_blank"
            {% else %}
                href="/" target="_self"
            {% endif %}
            >
                <img src="{{ winner.photo_url }}" width="200">
            </a>
            <h2 class="text-center">{{ winner.name }}</h2>
        </div>

        <ul class="list-group col-xs-12 col-md-4">
            <li class="list-group-item">
                {% include "includes/buttons/claim.html" %}
            </li>
            <li class="list-group-item">
                {% include "includes/buttons/finalize.html" %}
            </li>
            <li class="list-group-item">
                {% include "includes/buttons/shuffle.html" %}
            </li>
            {# TODO: bug: #}
            {# <li class="list-group-item">#}
            {# <a class="btn-sm btn-danger" href="pass" role="button">Leave slot empty</a>#}
            {# </li>#}
        </ul>
    {% endif %}
{% endblock content %}
{% block marketing %}
    {% include "includes/marketing.html" %}
{% endblock marketing %}
