{% extends "base.html" %}
{% block content %}
    <p class="lead">{{ lead_text }}</p>
    <br>
    <div class="col-xs-12 col-md-8 clearfix">
        <img src="static/img/winning.png" width="300">
        <h2 class="py-2">{{ winner.name }}</h2>
    </div>
    <ul class="list-group col-xs-12 col-md-4">
        <li class="list-group-item">
            {% include "includes/buttons/shuffle.html" %}
        </li>
        <li class="list-group-item">
            {% include "includes/buttons/finalize.html" %}
        </li>
    </ul>
{% endblock content %}
{% block marketing %}
    {% include "includes/marketing.html" %}
{% endblock marketing %}
